// import all digital land and GOVUK Frontend scss
$app-images-path: "/static/images/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";

// components
@import "components/button-menu";
@import "components/table";
@import "components/section-nav";
@import "components/contribute-panel";

// app specific component scss
.app-list--inline {
  > li {
    display: inline-block;
    margin: 0 1em 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.app-grid-row {
  &--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.app-code-block {
  display: inline-block;
  padding: 3px 8px;
  background: #f4f4f4;
}


.dl-code-block--small {
  font-size: 14px;

  @include govuk-media-query($from: tablet) {
    font-size: 16px;
  }
}
