// import all digital land and GOVUK Frontend scss
$app-images-path: "/statics/images/";
// $govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$govuk-assets-path: "/static/images/govuk/assets/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";

// components
@import "components/button-menu";

// app specific component scss
.app-list--inline {
  > li {
    display: inline-block;
    margin: 0 1em 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.app-data-table {
  table-layout:fixed;
  border-collapse: collapse;
  thead {
    tr {
      background-color: govuk-colour('light-grey');
    }
  }
  th, td {
    padding: 0.35em;
    @include govuk-font(19)
  }
  th {
    @include govuk-font(16, bold, true);
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
